body {
    background-color: rgb(236, 236, 236);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px
}

h1 {
    margin: 10px 0 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 10px 0 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 2px 5px rgb(189, 189, ,189);
    padding: 20px;
    width: 600px;
    max-width: 100%
}

.innerbox {
    background-color: white;
    box-shadow: 0px 2px 5px rgb(189, 189, 189);
    padding: 10px;
    width: 600px;
    max-width: 97%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.password-container {
    background-color: white;
    border-style: dashed;
    border-width: 1px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 1px;
    height: 100px;
    width: 100%;
}

.password-container #password {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.btn {
    border: solid;
    border-width: 2px;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    background-color: gray;
}

.btn-GeneratePW {
    display: inline-block;
    width: 35%;
    background-color: red;
    border-radius: 25px;
}

.btn-ClipBoardCopy {
    display: inline-block;
    float: right;
    width: 35%;
    background-color: silver;
    border-radius: 25px;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
    }
}